body {
	padding-top: 50px;
}

#wrap {
	position: relative;
}

#countdownwrap {
	display: none;
}

#title {
	font-size: 3em;
}

.totime {
	font-size: 2em;
}

.nowtime {
	font-size: 2em;
}
#totime_title.totime,
#nowtime_title.nowtime {
	font-size: 1.5em;
	font-style: italic;
	color: #AAA;
}

#countdown {
	font-size: 8em;
	position: relative;
}
#countdown #passed {
	font-size: 2.5rem;
	font-weight: bold;
	color: red;
	text-shadow: 2px 2px 4px black;
	position: absolute;
	top: 20px;
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	z-index: 1000;
	display: none;
}

#nowtime_wrap>span {
	position: relative;
}
#countdown_year::after {
	content: "Years";
}
#countdown_month::after {
	content: "Months";
}
#countdown_day::after {
	content: "Days";
}
#countdown_hour::after {
	content: "Hours";
}
#countdown_minute::after {
	content: "Minutes";
}
#countdown_second::after {
	content: "Seconds";
}
#nowtime_wrap>span::after {
	font-size: 2rem;
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	text-align: center;
}

#createnewwrap {
	display: block;
}

.row {
	margin: 10px 0px;
}

#footer {
	color: #CCCCCC;
	padding-top: 9px;
	margin-top: 50px;
	border-top: 1px solid #EEE;
	position: absolute;
	width: 100%;
}
